body{
    font-family: 'Manrope', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Nanum Gothic', sans-serif;
    background-color: aliceblue;
}
.header{
    background-color: rgba(30,180,228,1);
}

.titulo-Principal{
    display: inline-block;
    position: absolute;
    left: 200px;
    font-size: 30px;
    text-transform: uppercase;
    padding-left: 30px;
    margin: 20px;
}

nav{
    position: absolute;
    top: 20px;
    right: 200px;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}
nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover{
    color: #eba416;
    text-decoration: underline;
}

.fondo-nosotros{
    display: inline-block;
    margin: 7em auto;
    top: 100px;
    width: 100%;
}

.imagenes{
    margin: 5em auto;
    position: absolute;
    display: inline-block;
}

.img-contable{
    text-align: center;
    margin: 0 2em;
    width: 700px;
    height: 700px;
}
.img-contable1{
    text-align: center;
    margin: 0 2em;
    width: 700px;
    height: 700px;
}
.img-contable2{
    text-align: center;
    margin: 0 2em;
    width: 700px;
    height: 700px;
}
.img-contable3{
    text-align: center;
    margin: 0 2em;
    width: 700px;
    height: 700px;
}

footer p{
    color: antiquewhite;
    font-size: 24px;
}

.footer{
    position: absolute;
    top: 1500px;
    width: 95%;
    text-align: center;
    background: url(Imagenes/Footer.png);
    padding: 40px;
}
footer p{
    margin: 1em;
}